<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <listeners>
        <listener class-name="utils.TestListener" />
  </listeners>
  
  <test thread-count="5" name="Test">
    <classes>
	  <class name="tests.BaseTestSuite"/>
      <class name="tests.homeTest"/>
      <class name="tests.loginTest"/>
      <class name="tests.planCheckoutTest"/>
      <class name="tests.logoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
